{% extends "repo/projects/_page.html" %}
{% load permissions %}
{% block title %}
{{ version.full_name }}
{% endblock %}
{% block page %}

<div class="center-card wrapper-960">

    {% if not version.files.exists %}
        <br>
        <div class="alert alert-warning"><strong>Watch out!</strong> This version has no files. It won't be visible to everyone until you <a href="{% url 'repo-versions-manage' namespace=namespace.name project=proj.name version=version.name %}">upload some</a>.</div>
    {% endif %}

    <div class="versions-padifier"></div>


    <div class="pull-right btn-group" role="group" aria-label="Version management controls">
        {% ifpermitted user "version.edit" version.project %}
        <a href="{% url 'repo-versions-manage' namespace=namespace.name project=proj.name version=version.name %}" class="btn btn-default">
            <i class="fa fa-upload"></i>
        </a>
        {% endifpermitted %}
        {% ifpermitted user "version.delete" version.project %}
        <a href="{% url 'repo-versions-manage' namespace=namespace.name project=proj.name version=version.name %}" class="btn btn-default">
            <i class="fa fa-remove"></i>
        </a>
        {% endifpermitted %}
    </div>

    <h2>
        <strong>
            {{version.name}}
        </strong>
    </h2>

    <p class="pull-left">{{version.description}}</p>

    <div class="clearfix"></div>
</div>

{% with files_qs=version.files.all|as_user:user %}
    {% if files_qs.count %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">Files</h2>
        </div>
        <ul class="list-group file-list-group">
            {% for file in files_qs %}
                <li class="list-group-item file-list-group-item">
                    <a href="{% url 'repo-files-download' namespace=namespace.name project=proj.name version=version.name file=file.file_name file_extension=file.file_extension %}" class="file-listing">
                        <span class="file-listing-size">{{file.file_size|filesizeformat}}</span>
                        <span class="file-listing-name">{{file.file_name}}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
{% endwith %}

{% endblock %}
